<!DOCTYPE html>
<html>
<head>
    <title>ex 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="javascripts/functions.js"></script>

</head>
<body>
<h1 style="text-align: center">Log in page</h1>
<hr>

<form action="/validateData" method="post"  id = "details" class="jumbotron">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name = "email" placeholder="Enter email" id = "mail">
    </div>
    <div class="form-group">
        <label for="first">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="pass" id="pass">
    </div>
    <button type="submit" class="btn btn-primary" id = "sub">Submit</button>

    <br><br>
    <p>Not a member? Sign up <a href="/">here</a></p>
    <ul id="errorList"></ul>
    <p class = "errorList"><%= result %></p>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>

<script>

    document.getElementById("sub").addEventListener('click', function(event){

        let email = document.querySelector("#mail").value;
        let pass = document.querySelector("#pass").value;

        document.querySelector("#errorList").innerHTML = "";

        if(email.length === 0 || pass.length === 0){
            event.preventDefault();
            addToErrorLog("Fields Can't be empty");
        }
    });

    function addToErrorLog(str){
        let newNode = document.createElement("li")
        newNode.textContent = str;
        document.querySelector("#errorList").appendChild(newNode);
    }

</script>