<!DOCTYPE html>
<html>
<head>
    <title>ex 4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />


</head>
<body>
<p style="text-align: center">Hi <%= first %>, please type in a password to continue registration process:</p>

<p><%= msg %></p>

<form action="/login" method="post" id = "pass" class="jumbotron">
    <div class="form-group">
        <label for="first">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="pass1" id="fpass">
        <small class="form-text text-muted">Password must be at list 8 digit long.</small>
    </div>
    <div class="form-group">
        <label for="first">Re-enter password:</label>
        <input type="password" class="form-control" placeholder="Enter password again" name="pass2" id="spass">
    </div>
    <button type="submit" class="btn btn-primary" id = "subbing">Submit password</button>

<br><br>
<div class ="errorList"></div>
<p class="errNote"><%= msg%></p>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
<script>
    document.getElementById("subbing").addEventListener('click', function(event){

        let myPass = document.querySelector("#fpass").value;
        let myPass2 = document.querySelector("#spass").value;

        if(myPass !== myPass2) {
            event.preventDefault();
            addToErrorLog("Password are not matched, please try again");
        }
        if(myPass.length < 8){
            event.preventDefault();
            addToErrorLog("Password is shorter than 8 characters");
        }

    });

    function addToErrorLog(str){
        let newNode = document.createElement("p")
        newNode.textContent = str;
        let myPass = document.querySelector(".errorList").appendChild(newNode);
    }

</script>