body {
  background-image: url('/images/back.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.jumbotron{
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(243, 250, 251, 0.8);
}

.errorList{
  color: red;
}

#subbing{
  text-align: center;
}